body {background-color:navajowhite}
h1   {color:skyblue;
font-family:verdana;}
p    {color:fuchsia;
font-family:courier;
border:1px solid grey;
    padding:10px;
 margin:4px;}
ol {color:salmon;
    font-family:inherit;}
